@tailwind base;
@layer base{
  input[type=date]::-webkit-calendar-picker-indicator {
    margin-left: -20px;
    cursor: pointer;
  }
  input[type=time]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}
@tailwind components;
@tailwind utilities;

.input {
  @apply rounded outline-none leading-8 font-medium text-light-primary transition-all pl-2 pr-2 bg-button-outline bg-opacity-30 focus:border-light-primary   focus:outline-light-primary focus:bg-light-primary focus:text-dark-primary focus:outline-offset-0
}

.listitem {
  @apply bg-button-solid text-base font-medium text-light-primary rounded hover:text-dark-primary hover:bg-light-primary
}

.listitem-text {
  @apply bg-button-solid text-light-primary bg-transparent w-full hover:text-dark-primary border-transparent outline-none  focus:border-solid focus:border-light-primary  focus:outline-offset-0 transition-all pl-2 pr-2
}

.button-solid{
  @apply w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-button-solid text-base font-medium text-light-primary hover:text-dark-primary hover:bg-light-primary focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-light-primary md:ml-3 md:w-auto md:text-sm
}

.button-outline{
  @apply mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-button-outline bg-opacity-30 text-base font-medium text-light-primary hover:bg-light-primary hover:text-dark-primary focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-light-primary md:mt-0 md:ml-3 md:w-auto md:text-sm
}

.card-modal-add {
  @apply bg-dark-primary w-full md:w-fit rounded-t md:rounded pl-4 pr-4 pt-4 pb-4 flex flex-col h-full md:h-fit justify-between overflow-y-auto
}

.card-modal{
  @apply relative inline-block h-full md:h-auto align-bottom mb-0 bg-dark-primary rounded-t md:rounded-lg text-left overflow-hidden md:shadow-xl transform transition-all md:align-middle md:max-w-lg w-full
}

.title-page{
  @apply text-2xl leading-8 font-medium text-light-primary
}

.title-content{
  @apply font-medium text-light-primary
}

.subtitle-content{
  @apply text-sm text-light-secondary opacity-70
}

